 /* .input-form{
  align-items: center;
  padding: 0.5rem;
  margin: 3rem 4rem;
  background-color: #4b4b4b;
  border: 3px solid rgb(90, 44, 150);
} */

 .new-expense {
   background-color: #a892ee;
   padding: 1rem;
   margin: 2rem auto;
   width: 50rem;
   max-width: 85%;
   border-radius: 12px;
   text-align: center;
   box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
 }



 .new-expense button {
   font: inherit;
   cursor: pointer;
   padding: 0.5rem 0.5rem;
   border: 1px solid #40005d;
   background-color: #40005d;
   color: white;
   border-radius: 8px;
   width: fit-content
 }

 .new-expense button:hover,
 .new-expense button:active {
   background-color: #510674;
   border-color: #510674;
 }

 .new-expense button.alternative {
   color: #220131;
   border-color: transparent;
   background-color: transparent;
 }

 .new-expense button.alternative:hover,
 .new-expense button.alternative:active {
   background-color: #ddb3f8;
 }

 .title input,
 .amount input,
 .date input,
 .location input {
   width: 50%;
   border-radius: 4px;
   height: 2rem;
 }

 .title {
   font-size: 1rem;
   font-weight: bold;
   margin-top: 0.5rem;
 }

 .amount {
   font-size: 1rem;
   font-weight: bold;
   margin-top: 0.5rem;
 }

 .date {
   font-size: 1rem;
   font-weight: bold;
   margin-top: 0.5rem;
 }

 .location {
   font-size: 1rem;
   font-weight: bold;
   color: #220131;
   margin-top: 0.5rem;
 }

 .button {
   margin-top: 1rem;
 }

 .btns {
   display: flex;
   justify-content: center;
   align-items: center;
 }